h1 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-weight: bold;
}

img{
  width: 100%
}

body {
  background-color: grey;
  background-image: url(../img/pokertable.jpg);
  color: white;
}
h3{
  color: darkorange;
  font-weight: bold;
  font-style: italic;
}
h2{
  color: white;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  text-align: center;
}
.col-md-12{
  text-align: center;
}

.btn{
  width: 100%;
  font-size: 22px;
  font-family: fantasy;
}

.well{
  background-color: red;
  border-color: black;
}

.jumbotron {
  background-image: url(../img/banner.jpg);
}

.playerHand{
  background-color: darkred;
  display: none;
}

.cpuHand{
  display: none;
  background-color: grey;
}

span h2{
  color: yellow;
}


#homeTable {
  display: block;
  margin: auto;
  width: 600px;
}

#betButton{
  display: none;
}
#betButton2{
  display: none;
}
#betButton3{
  display: none;
}
#handButton{
  display: none;
}
#newHand{
  display: none;
}

#bet5{
  display: none;
}
#bet10{
  display: none;
}
#bet20{
  display: none;
}

/*#cpu1{
  display: none;
}

#cpu2{
  display: none;
}*/
