h1 {
  text-align: center;
  color: white;
}

img{
  width: 100%
}

body {
  background-color: grey;
  background-image: url(../img/pokertable.jpg);
  color: white;
}
h3{
  color: darkorange;
  font-weight: bold;
  font-style: italic;
}

.btn{
  width: 100%;
  font-size: 22px;
  font-family: fantasy;
}

.well{
  background-color: red;
  border-color: black;
}

.jumbotron {
  background-image: url(../img/banner.jpg);
}

/*.playerHand{
  width: 85%;
  float: center;
}*/

#homeTable {
  display: block;
  margin: auto;
  width: 600px;
}

#betButton{
  display: none;
}
#betButton2{
  display: none;
}
#betButton3{
  display: none;
}
#handButton{
  display: none;
}
#newHand{
  display: none;
}
